<!-- Angular Dynamic Update -->
<!DOCTYPE html>
<html lang=en-ir ng-app="myApp">
    <head>
    <title>My App</title>
        <meta http-equiv="X-UA-Compatible" content="IE-Edge" >
        <meta charset="UTF-8">
        <link rel="stylesheet"  href="/style/bootstrap.min.css" />
        <script src="https://code.angularjs.org/1.6.0-rc.2/angular.js"></script> 
        
    </head>
    <body>
        <nav class="navbar navbar-default" role="navigation">
            <h3> Angular Example</h3>
            <div class="navbar-header">
            </div>
        </nav>
     
        <div class="container"> 
            <div ng-Controller="mainController"> 
                <table>
                    <tr>
                        <td>
                           Firstname: 
                        </td>
                        <td>
                            <input ng-model="employee.firstname">
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Lastname:
                        </td>
                        <td>
                            <input ng-model="employee.lastname">
                        </td>
                    </tr>
                    <tr>
                        <td>
                            age:
                        </td>
                        <td>
                            <input ng-model="employee.age">
                        </td>
                    </tr>
                    <tr>
                        <td>
                           address: 
                        </td>
                        <td>
                            <input ng-model="employee.address">
                        </td>
                    </tr>
                </table>
                <br /><br />
                <table>
                    <tr>
                        <td>
                            FirstName: 
                        </td>
                        <td>
                             {{ employee.firstname }}
                        </td>
                    </tr>
                    <tr>
                        <td>
                            LastName: 
                        </td>
                        <td>
                             {{ employee.lastname }}
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Age: 
                        </td>
                        <td>
                             {{ employee.age }}
                        </td>
                    </tr>
                    <tr>
                             <td>
                                 Address
                             </td>
                        <td>
                             {{ employee.address }}
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </body>
    <script src="/scripts/app.js"></script>
</html>