<!-- Angular Model Search -->
<!DOCTYPE html>
<html lang=en-ir>
    <head>
    <title>My App</title>
        <meta http-equiv="X-UA-Compatible" content="IE-Edge" >
        <meta charset="UTF-8">
        <link rel="stylesheet"  href="../Style/bootstrap.min.css" />
        <link rel="stylesheet"  href="../Style/style.css" />  
        <script src="../scripts/angular.js"></script>
        <script src="/scripts/app9.js"></script>
       
    </head>
    <body ng-app="myApp">
        <nav class="navbar navbar-default" role="navigation">
            <h3>Search</h3>
            <div class="navbar-header">
            </div>
        </nav>
     
        <div class="container">          
            <div ng-Controller="mainController"> 
            
        </div>
        </div>
    </body>
    
</html>