<!-- Angular Dynamic Update -->
<!DOCTYPE html>
<html lang=en-ir ng-app="myApp">
    <head>
    <title>My App</title>
        <meta http-equiv="X-UA-Compatible" content="IE-Edge" >
        <meta charset="UTF-8">
        <link rel="stylesheet"  href="/style/bootstrap.min.css" />
        <script src="https://code.angularjs.org/1.6.0-rc.2/angular.js"></script> 
        
    </head>
    <body>
        <nav class="navbar navbar-default" role="navigation">
            <h3> Angular Example</h3>
            <div class="navbar-header">
            </div>
        </nav>
     
        <div class="container"> 
            <div ng-Controller="mainController"> 
               
            
            </div>
        </div>
    </body>
    <script src="/scripts/app5.js"></script>
</html>